.container {
  height: 1200px;
  width: 100vw;
  background-color: grey;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr;
  gap: 10px;
}
.box {
  border: solid black 2px;
}
.box1 {
  display: flex;
  flex-direction: column;
}
.boxC{
    text-align: center;
}
.boxC1 {
}
.box2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 300px);
}
.boxA {
  border: solid black 2px;
}
.boxA3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15% 85%;
}
.boxB {
  border: solid black 2px;
}
.boxB1 {
  grid-column: span 2;
}
.gap{
    margin: 50px;
}