#colors {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;
  width: 20%;
  padding: 5px;
  background-color: darkgray;
  float: left;
}
#colors > * {
  border: solid black 1px;
}
#clear {
  grid-column: span 3;
  border-radius: 8px;
  color: black;
  text-align: center;
  font-size: 22px;
  margin: 4px 2px;
  cursor: pointer;
}
#draw {
  display: grid;
  grid-template-columns: repeat(60, 1fr);
  background-color: darkgray;
  height: 100vh;
  width: 80%;
  padding: 5px 5px 5px 0px;
}
#draw > * {
  border: solid gray 1px;
  background-color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  background-color: darkgrey;
  display: block;
}
