<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body>
    <%- include('partials/navbar'); %>
    <div class="container-fluid">
        <div class="container-fluid bg-dark text-light p-5">
            <div class="container bg-dark p-5">
                <h1 class="display-4">The history of pizza</h1>
                <p>The history of pizza begins in antiquity, when various ancient cultures produced basic flatbreads
                    with several toppings.</p>
                <p>A precursor of pizza was probably the focaccia, a flatbread known to the Romans as panis focacius, to
                    which toppings were then added.[1] Modern pizza evolved from similar flatbread dishes in Naples,
                    Italy, in the 18th or early 19th century.</p>
                <p>The word pizza was first documented in 997 AD in Gaeta[3] and successively in different parts of
                    Central and Southern Italy. Pizza was mainly eaten in Italy and by emigrants from there. This
                    changed after World War II when Allied troops stationed in Italy came to enjoy pizza along with
                    other Italian foods.</p>
                <hr>
            </div>
        </div>
        <%- include('partials/footer.ejs'); %>
</body>

</html>