<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>
    <h2>Posts</h2>
    <%- include('../partials/posts'); %>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
